* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px; 
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    margin-right: 20px;
    margin-left: -5px;
    margin-bottom: -9px;
}

.logo-img {
    width: 230px; 
    height: auto; 
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
}

.search-input {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    width: 450px;
    border-radius: 20px;
    outline: none;
}

.search-button {
    background-color: #FEA680 ;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    width: 50px;
    height: 35px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    background-color: #AFDA02;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'poppins' ;
    font-size: 0.9em;
}

.main-nav ul li a:hover {
    color: #95ba00;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype'), 
}
